<div class="accordion-item">
    <h2 class="accordion-header d-flex" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{postTitre}} #{{postId}}
      </button>
      <button type="button" class="btn btn-light" ng-click="removePost(id)"> <i class="fa-solid fa-trash " style="color: blue;"></i>
      </button>

     
    

          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show"   aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {{postContenu}}
          </div>
      </div>

      
